body {
  max-width: 100vw;
  margin: 0;
  color: #050505;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas: "header" "nav1" "main" "footer";
  grid-template-columns: 1fr;
}

header {
  color: #ffe4bc;
  padding-bottom: 5px;
  background-color: #f500ab;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  justify-content: space-between;
  grid-area: header;
}

header h1 {
  padding-left: 20px;
  align-self: center;
}

.wrapheader {
  padding-right: 20px;
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.bell {
  align-self: center;
  height: 35px;
  width: 35px;
  fill: white;
  transition: 0.3s ease-out;
}
.bell:hover {
  transform: scale(1.2);
}

.pro-pic {
  margin-top: 9px;
  border-radius: 50%;
  width: 35px;
  border: solid 2px #a5a5a5;
  transition: 0.3s ease-out;
}
.pro-pic:hover {
  transform: scale(1.2);
}

header h3 {
  align-self: center;
  color: white;
}

.div-header {
  margin-left: 20px;
}

nav {
  padding-top: 7px;
  background-color: #00d9ff;
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-area: nav1;
}

nav svg {
  fill: black;
}

main {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-area: main;
  grid-template-areas: "dashboard dashboard" "alert alert" "traffic traffic" "daily daily" "mobile mobile" "social social" "members members" "activity activity" "message message" "settings settings";
}

.dash {
  grid-area: dashboard;
  width: 95%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.dash h2 {
  margin-right: 15px;
}
.dash input {
  width: 100%;
  margin-top: 20px;
  font-size: 1.3rem;
}

#alert {
  grid-area: alert;
  text-align: center;
  width: 80%;
  border: solid 1px black;
  border-radius: 4px;
  background-color: #73ffbe;
}

.traffic {
  grid-area: traffic;
  height: 30%;
  width: 100%;
}
.traffic ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-right: 7%;
}
.traffic ul li {
  font-weight: bolder;
}

.daily {
  grid-area: daily;
  height: 40%;
  width: 100%;
  border-top: 2px solid #afafaf;
}

.mobile {
  border-top: 2px solid #afafaf;
  grid-area: mobile;
  height: 40%;
  width: 100%;
  margin-bottom: 10px;
}

.social {
  width: 100%;
  border-top: 2px solid #afafaf;
  border-bottom: 2px solid #afafaf;
  padding-bottom: 25px;
  grid-area: social;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.facebook,
.instagram,
.twitter {
  margin: 0 auto;
  background-color: whitesmoke;
  width: 90%;
  border: solid 1px #919191;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.facebook svg,
.instagram svg,
.twitter svg {
  align-self: center;
  padding-left: 10px;
  grid-row: span 2;
  height: 80px;
}
.facebook h3,
.instagram h3,
.twitter h3 {
  color: #f500ab;
  font-size: 1.5em;
  margin: 0;
}
.facebook p,
.instagram p,
.twitter p {
  color: #00d9ff;
  font-size: 4rem;
  margin: 0;
}

.facebook svg {
  fill: #0056f5;
}

.instagram svg {
  fill: #636363;
}

.twitter svg {
  fill: #5699ff;
}

.profile-pic {
  margin-top: 15px;
  border-radius: 50%;
  width: 90px;
}

.new-members {
  grid-area: members;
  width: 100%;
}
.new-members p {
  margin: 0;
}
.new-members a {
  color: #00aeff;
  text-decoration: none;
}

.members {
  text-align: center;
  border-bottom: solid 1px black;
  padding-bottom: 15px;
  margin: 0 auto;
  width: 90%;
}

.members:last-child {
  border: none;
}

.elapsed {
  color: #a5a5a5;
  font-style: italic;
}

.recent-activity {
  border-top: 2px solid #afafaf;
  width: 100%;
  grid-area: activity;
}

.activity {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  border-bottom: solid 1px black;
}

.activity:last-child {
  border: none;
}

.message {
  width: 100%;
  border-top: solid 2px #afafaf;
  grid-area: message;
}

.search-user {
  background-color: #f3f3f3;
  border: 1px solid black;
  border-radius: 3px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  font-size: 1.1em;
  width: 90%;
  height: 40px;
}

.textarea {
  background-color: #f3f3f3;
  display: block;
  margin: auto;
  width: 90%;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.send {
  display: block;
  margin: auto;
  width: 90%;
  height: 30px;
  margin-bottom: 20px;
  background-color: #f500ab;
  color: white;
  border: none;
  border-radius: 5px;
}

.settings {
  border-top: solid 2px #afafaf;
  grid-area: settings;
  width: 100%;
  margin-bottom: 20px;
}
.settings ul {
  list-style-type: none;
}
.settings button {
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 25px auto;
  width: 80%;
}
.settings form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.save-settings {
  background-color: #f500ab;
}

.cancel-settings {
  background-color: #c9c9c9;
}

.timezone {
  grid-column: 1/span 2;
  height: 40px;
  width: 90%;
  margin: 0 auto;
}

footer {
  grid-area: footer;
}

@media only screen and (min-width: 768px) {
  body {
    grid-template-areas: "header header" "nav1 main" "nav1 footer";
    grid-template-columns: 60px 1fr;
    grid-template-rows: 50px 1fr;
  }

  nav {
    grid-template-columns: 1fr;
    height: 100%;
    padding-top: 15px;
    grid-template-rows: 100px 100px 100px 100px;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "dashboard dashboard" "alert alert" "traffic traffic" "daily mobile" "social social" "members members" "activity activity" "message message" "settings settings";
  }

  .traffic {
    position: relative;
    width: 80%;
    height: 40%;
  }

  .daily {
    width: 100%;
    height: 100%;
    border-right: 2px solid #afafaf;
    border-bottom: 2px solid #afafaf;
  }

  .mobile {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #afafaf;
  }

  .social {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas: "socialheader socialheader socialheader" "fb insta twitter";
  }
  .social h3 {
    grid-area: socialheader;
  }
  .social div {
    display: grid;
    grid-template-areas: "socialpic socialnetwork" "socialpic number";
  }
  .social div svg {
    grid-area: socialpic;
  }
  .social div h3 {
    grid-area: socialnetwork;
  }
  .social div p {
    grid-area: number;
    font-size: 2em;
    align-self: flex-end;
  }

  .facebook {
    grid-area: fb;
  }

  .instagram {
    grid-area: insta;
  }

  .twitter {
    grid-area: twitter;
  }

  .members {
    display: grid;
    grid-template-columns: 90px 1fr 1fr;
    grid-template-areas: "pp mc p";
  }
  .members p {
    align-self: center;
    grid-area: p;
    justify-self: end;
  }

  .member-container {
    grid-area: mc;
    text-align: start;
    align-self: center;
    padding-left: 15px;
  }

  .profile-pic {
    grid-area: pp;
  }

  .activity {
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-areas: "pp ac";
  }
  .activity .profile-pic {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .action-container {
    grid-area: ac;
    justify-self: start;
    align-self: center;
    padding-left: 15px;
  }

  .member-action {
    margin: 0;
  }

  .elapsed {
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "dashboard dashboard" "alert alert" "traffic traffic" "daily mobile" "social social" "members activity" "message settings";
  }

  #alert {
    width: 95%;
  }

  .traffic {
    width: 95%;
  }

  .new-members {
    border-top: 2px solid #afafaf;
    border-right: 2px solid #afafaf;
    width: 100%;
  }

  .members {
    margin-right: 15px;
    margin-left: 15px;
  }

  .activity {
    margin-right: 15px;
    margin-left: 15px;
  }

  .recent-activity {
    border-top: 2px solid #afafaf;
    width: 100%;
  }

  .social {
    border: none;
    width: 95%;
    margin-bottom: 15px;
  }
  .social h3 {
    margin-bottom: 0px;
  }

  .settings {
    width: 100%;
    border-left: 2px solid #afafaf;
  }

  .save-settings {
    margin-left: 10px;
  }

  .cancel-settings {
    margin-right: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
