body {
    margin: 0;
    color: rgb(78, 78, 78);
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: 
    "header"
    "nav1"
    "main"
    "footer";
    grid-template-columns: 1fr;
  }

  header {
    background-color: rgb(137, 208, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    justify-content: space-between;  
    grid-area: header;
  }
  
  header h1 {
      padding-left: 20px;
      align-self: center;
  }

  .wrapheader {
      padding-right: 20px;
      justify-self: end;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
      
  }

  .bell {
    align-self: center;
    height: 35px;
    width: 35px;
    fill: white;
    transition: .3s ease-out;
    &:hover {
        transform: scale(1.2);
    }
}

  .pro-pic {
      margin-top: 8px;
      border-radius: 50%;
      width: 35px;
      border: solid 2px rgb(165, 165, 165);
      transition: .3s ease-out;
      &:hover {
          transform: scale(1.2);
      }
  }


  header h3 {
      align-self: center;
      color: rgb(255, 255, 255);
  }
 
  nav {
    height: 40px;
    padding-top: 7px;
    background-color: rgb(58, 72, 151);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-area: nav1;
  }
nav svg {
    fill: white;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-area: main;
}

.search input {
    margin-top: 20px;
    font-size: 1.3rem;
}

.search-user {
    margin-bottom: 10px;
    font-size: 1.1em;
    width: 100%;
}

.message {
    grid-column: span 2;
}

.message-to-send {
    
    font-size: 1.1em;
}

.textarea {
    width: 100%;
}
.send {
    width: 100%;
    margin-bottom: 20px;
}

footer {
    grid-area: footer;
}
@media only screen and (min-width: 768px) {
    body {
        grid-template-areas: 
        "header header"
        "nav1 main"
        "nav1 main"
        "nav1 main"
        "nav1 footer";
        grid-template-columns:60px 1fr;
        grid-template-rows: 50px 1fr;
    }
    nav {
        grid-template-columns: 1fr;
        height:100vh;
        padding-top: 15px;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    .message {
        grid-column: span 1;
    }
}