$pink: rgb(245, 0, 171);

body {
    margin: 0;
    color: rgb(5, 5, 5);
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: 
    "header"
    "nav1"
    "main"
    "footer";
    grid-template-columns: 1fr;
  }

  header {
    color: rgb(255, 228, 188);
    padding-bottom: 5px;
    background-color: $pink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    justify-content: space-between;  
    grid-area: header;
  }
  
  header h1 {
      padding-left: 20px;
      align-self: center;
  }

  .wrapheader {
      padding-right: 20px;
      justify-self: end;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
  }

  .bell {
    align-self: center;
    height: 35px;
    width: 35px;
    fill: white;
    transition: .3s ease-out;
    &:hover {
        transform: scale(1.2);
    }
}

  .pro-pic {
      margin-top: 9px;
      border-radius: 50%;
      width: 35px;
      border: solid 2px rgb(165, 165, 165);
      transition: .3s ease-out;
      &:hover {
          transform: scale(1.2);
      }
  }

  header h3 {
      align-self: center;
      color: rgb(255, 255, 255);
  }
 
  nav {
    
    padding-top: 7px;
    background-color: rgb(0, 217, 255);
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-area: nav1;
  }
nav svg {
    fill: rgb(0, 0, 0);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-area: main;
    grid-template-areas: 
    "dashboard search"
    "alert alert"
    "traffic traffic"
    "daily daily"
    "mobile mobile"
    "social social"
    "message message"
    "settings settings";
}
.dash {
    grid-area: dashboard;
}
.search {
    grid-area: search;
    width: 100%;
}
.search input {
    margin-top: 20px;
    font-size: 1.3rem;
    
}

.alert {
    grid-area: alert;
}

.traffic {
    grid-area: traffic;
    height: 30%;
    width: 80%;
& ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-content: center;
    & li {
      font-weight: bolder;
    }
}
}

.daily {
    grid-area: daily;
    height: 40%;
    width: 80%;
}

.mobile {
    grid-area: mobile;
    height: 40%;
    width: 80%;
}

.social {
    grid-area: social;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}

.facebook, 
.instagram,
.twitter {
    background-color:rgb(245, 245, 245) ;
    width: 80vw;
    border: solid 1px rgb(145, 145, 145);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    & svg {
        align-self: center;
        padding-left: 10px;
       grid-row: span 2;
       height: 80px; 
    }
    & h3 {
        color: $pink;
        font-size: 1.5em;
        margin: 0;
    }
    & p {
        color:rgb(0, 217, 255);
        font-size: 4rem;
        margin: 0;
    }
}

.facebook svg {
    fill:rgb(0, 86, 245);
}

.instagram svg {
    fill:rgb(99, 99, 99);
}
.twitter svg {
    fill: rgb(86, 153, 255);
}
.message {
    grid-area: message;
    grid-column: span 2;
}

.search-user {
    margin-bottom: 10px;
    font-size: 1.1em;
    width: 100%;
}

.message-to-send {
    font-size: 1.1em;
}

.textarea {
    width: 100%;
}
.send {
    width: 100%;
    margin-bottom: 20px;
}
.settings {
    grid-area: settings;
}
footer {
    grid-area: footer;
}

@media only screen and (min-width: 768px) {
    body {
        grid-template-areas: 
        "header header header"
        "nav1 main main"
        "nav1 main main"
        "nav1 main main"
        "nav1 footer footer";
        grid-template-columns:60px 1fr 1fr;
        grid-template-rows: 50px 1fr;
    }
    nav {
        grid-template-columns: 1fr;
        height: 100%;
        padding-top: 15px;
        grid-template-rows: 100px 100px 100px 100px;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "dashboard search"
        "alert alert"
        "traffic traffic"
        "daily mobile"
        "social social"
        "settings settings";
    }

    .traffic {
       position: relative;
       width: 80%;
       height: 40%;
    }
    .message {
        grid-column: span 2;
        width: 80%;
    }
}